:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 7, 17);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stopme {
  font-family: "Press Start 2P", serif;
  font-size: 25px;
  position: fixed;
  margin-top: 150px;
  color: deepskyblue;
}
.name {
  text-align: center;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  margin-top: 50px;
}
[data-tooltip] {
  display: block;
  margin: auto;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: darkcyan;
  position: relative;
  background-color: transparent;
  border: none;
}
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 15px;

  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}
[data-tooltip2] {
  display: block;
  margin: auto;
  top: 50px;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: darkviolet;
  position: relative;
  background-color: transparent;
  border: none;
}
[data-tooltip2]:hover::after {
  content: attr(data-tooltip2);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 15px;

  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}
.aboutme {
  font-family: "Press Start 2P", serif;
  font-size: 20px;
  margin-top: 175px;
  text-align: center;
  color: rgb(224, 28, 77);
}
.quotes {
  color: white;
}
.stringfield {
  color: rgb(233, 217, 0);
}
#pfp {
  margin-left: 550px;
  height: 150px;
  margin-top: 100px;
}
img {
  animation-name: slide;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}
img:hover {
  animation-play-state: paused;
}
@keyframes slide {
  from {
    transform: translateX(450%);
  }
}
